/* .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 80%;
  } */
* {
    font-family: sans-serif;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.644);
    /* text-shadow: 2.5px 2.5px rgb(20, 10, 155); */
}

body {
    background-image: linear-gradient( rgb(25, 21, 41), rgb(53, 53, 53), rgb(12, 12, 32),  rgb(26, 26, 61), rgb(144, 144, 175));
}
.home-bg{
    background-color: #000000;
}
h4{
  color:white;

}
.vl {
  border-left: 1px solid rgb(236, 229, 221);
  height: 58px;
}

.poster-bg{
    background-image: linear-gradient( rgb(25, 21, 41), rgb(63, 63, 63), rgb(12, 12, 32),  rgb(26, 26, 61), rgb(16, 16, 22));
}
.column {
    float: center;
    width: 25%;
    padding: 0 10px;
}

.card-column{
  display:flex;
  align-items: center;
}
.card-bgs{
  background-image: linear-gradient( rgb(52, 46, 75), rgb(19, 15, 27), rgb(48, 48, 95),  rgb(34, 34, 94), rgb(76, 76, 100));
}


.row {
    margin: 0 -5px;

    flex: 1;
}



/* .row:after {
    content: "";
    display: table;
    clear: both;
} */
.card {
    box-shadow: 4px 4px 12px 0 rgba(0, 0, 0, 0.493);
    padding: 16px;
    text-align: center;
    background-color: #e7e5dd;
}

.web-name{
  font-family:'Times New Roman', Times, serif;
  font-weight: bolder;
  text-shadow: 2.5px 2.5px rgb(20, 10, 155);
}
.navbar-color {
    background-image: linear-gradient(rgb(8, 6, 20), rgb(22, 22, 22),  rgb(37, 37, 37));

}
.bfg{
    background-image: linear-gradient(rgb(23, 23, 29),  rgb(12, 12, 29), rgb(77, 77, 77));
}

.text-start{
    color: rgb(255, 255, 255);
    font-size: 30px;
    padding:50px;
}

h3 {
    font-weight: bolder;
    font-family:'Times New Roman', Times, serif;
    color:rgb(255, 255, 255);
    text-shadow: 2px 2px #000000;
    font-size: 32px;
    
  }
  h2{
    color: white;
  }

.flex{
  display: inline-block;
  /* align-items: center; */
}
.sign-Incard{
  background-image: linear-gradient(rgb(40, 40, 49),  rgb(16, 16, 39), rgb(77, 77, 77));
}

h1 {

    font-size: 40px;
    padding: 0 0 0 30px;
    color: rgb(255, 255, 255);
}
.opas-img{
  opacity: 40%;
}
.top-right {
  position: absolute;
  top: 330px;
  right: 20px;
  left:60px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  text-shadow: 2px 5px rgb(116, 111, 111);
  font-size: 40px;
}
.top-rights {
  position: absolute;
  top: 590px;
  right: 0px;
  left:670px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  text-shadow: 2px 5px rgb(116, 111, 111);
  font-size: 40px;
}

.button-register {
    background-color: rgb(237, 215, 177);
}
.button-register:hover {
    background-color: rgb(160, 145, 120);
}
.button-sign {
    background-color: rgb(231, 229, 229);
    text-shadow: none;
    border: 1px solid rgb(52, 13, 83);
    color: black;
}
.button-sign:hover {
    background-color: rgb(160, 157, 153);
    text-shadow: none;
}

.sign-card {
    background-color: rgb(231, 224, 213);
    text-shadow: none;
}

.black-bg{
    background-color: rgba(8, 8, 8, 0.822);
    border-radius: 25px;

}
.signin-color{
    color: rgb(236, 229, 221);
    text-shadow: none;
}
.cart-logo{
    background-color: rgb(255, 255, 255);
}
.cart-logo{
    display: block;
    width: 50px;
    height: 40px;
    line-height: 6px;
    border: 2px solid rgba(48, 39, 22, 0.747);
    position: relative;
    transition: all .50s;
  }
  
  .cart-logo span{
    position: relative;
    z-index: 2;
  }
  
  .cart-logo:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #d1d1d1;
    transition: all .50s;
  }
  
  .cart-logo:hover:after{
    width: 100%;
  }

.sign-in-button{
    background-color: rgb(255, 255, 255);
}
.sign-in-button{
    color:black;
    display: block;
    width: 100px;
    height: 40px;
    line-height: 6px;
    border: 2px solid rgba(48, 39, 22, 0.747);
    position: relative;
    transition: all .50s;
  }
  
  .sign-in-button span{
    position: relative;
    z-index: 2;
  }
  
  .sign-in-button:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    opacity: 12%;
    height: 100%;
    background: #d1d1d1;
    transition: all .50s;
  }
  
  .sign-in-button:hover:after{
    width: 100%;
  }

  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  
  .containers:hover .image {
    opacity: 0.3;
  }
  
  .containers:hover .middle {
    opacity: 1;
  }
  
  .text {
    
    background-image: linear-gradient(rgb(8, 6, 20), rgb(22, 22, 22),  rgb(2, 2, 3));
    border-radius: 50px;
    color: white;
    font-size: 16px;
    padding: 2px 25px;
  }
  h6{
    padding-left:20px;
    color: rgb(255, 255, 255);
  }
  bg-home-color{
    background-color: rgba(8, 8, 8, 0.822);
    border-radius: 25px;
  }

  .join-css{
    font-size: 50px;
  }

 .join-bg{
    width: 100%;
    border: .01px solid rgb(104, 104, 104);
    opacity: 50%;

 }
 .white-and{
    color:white;
 }
  .container {
    position: relative;
    text-align: center;
  }
  .containers {
    position: relative;
    text-align: center;
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .center-text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    transform: translate(-50%, -400%);
  }
  .right {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  h3.text-concert{
    font-weight: bolder;
    font-family:'Times New Roman', Times, serif;
    color:rgb(255, 255, 255);
    text-shadow: 2px 2px #000000;
    font-size: 20px;
  }
  p{
    font-weight: bolder;
    font-family:'Times New Roman', Times, serif;
    color:rgb(255, 255, 255);
    text-shadow: 2px 2px #000000;
    font-size: 12px;
  }
  .join-title{
    font-size: 30px;
    margin-top:-130px;
    padding-bottom:30px;
    color:rgb(255, 255, 255);
    text-shadow: 3px 3px #000000;
    margin-top:20px;
  }
.mid-bg{
    background-image: linear-gradient(rgb(34, 28, 68), rgb(17, 14, 29),  rgb(51, 53, 63), rgb(15, 15, 36), rgb(23, 15, 34));
}
  .performing-css{
    font-size: 17px;
    font-weight: bolder;
    font-family:'Times New Roman', Times, serif;
    color:rgb(255, 255, 255);
    text-shadow: 2px 2px #000000;
    
  }

  .perform-button{
    background-image: linear-gradient(rgb(236, 229, 221), rgb(201, 199, 199),  rgb(236, 229, 221));
    color: rgb(3, 3, 3);
  }

  .grow img{
    transition: 1s ease;
    height: 50vh;
    width:100%;
    }
    
    .grow img:hover{
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1.08);
    transition: 1s ease;
    }

.slides{
  height: 83vh;
}
.about-bg{
    background-image: linear-gradient(rgb(47, 39, 59), rgb(24, 21, 37),  rgb(38, 40, 49), rgb(24, 24, 56), rgb(34, 27, 43));
}
.about-text{
    color: white;
}

.small-desc{
    color: white;
    font-size: 20px;
}

.text-footer{
    color:white;
}

.checkout-text{
    color: white;
}

.styless{
  display: flex;
  border-bottom: 1px solid black;

  flex-direction: column;
  
}

h3 .styless{
  font-weight: bolder;
}

h4 .styless{
  font-weight: 100;
}
input .styless{
  height: 30px;
  padding: 1rem;
  text-align: center;
  border: none;
}
input .styless:hover::-webkit-inner-spin-button {
  width: 14px;
  height: 30px;
}
.navbar-shop{
  background-image: linear-gradient(rgb(183, 155, 219),  rgb(53, 46, 78), rgb(55, 53, 65));
}